DATABASE_URL="postgresql://app:app@localhost:5432/projet_transversal"
MQTT_URL="mqtt://localhost:1883"
MQTT_USERNAME="app"
MQTT_PASSWORD="change_me"
MQTT_TEMPERATURE_TOPIC="maison/tem"
MQTT_HUMIDITY_TOPIC="maison/hum"
